.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    background-color: #fff;
  
    .logo img {
      height: 40px;
    }
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        h3 {
            color: #000;
        }
    }

    .nav {
      display: flex;
      gap: 20px;
  
      a {
        text-decoration: none;
        color: #333;
        font-size: 16px;
        transition: color 0.3s;
  
        &:hover {
          color: #000;
        }
      }
    }
  
    // Hamburger Menu
    .hamburger {
      display: none;
      background: none;
      border: none;
      cursor: pointer;
      flex-direction: column;
      gap: 5px;
  
      span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #333;
        transition: 0.3s;
      }
    }
  
    // Responsive Styles
    @media (max-width: 768px) {
      .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #fff;
        width: 100%;
        text-align: center;
        border-top: 1px solid #ccc;
  
        a {
          padding: 15px;
        }
  
        &.active {
          display: flex;
        }
      }
  
      .hamburger {
        display: flex;
      }
    }
  }
  