/* You can add global styles to this file, and also import other style files */
.min-height{
    min-height: 80px;
}
// .mt-80{
//     margin-top: 80px;
// }
.h-10{
    height: 2.5rem;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.inline-flex {
    display: inline-flex;
}
.flex-wrap{
    flex-wrap: wrap;
}   
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.p-4{
    padding: 1rem;
}

.mx-20{
    padding-left: 20px;
    padding-right: 20px;
}
.mx-20{
    margin-left: 20px;
    margin-right: 20px;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%; // Ensure it works within the container
}
  
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.content {
    flex: 1;
}